h3 {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

button {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

label {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.input-field {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.topCat.browser-default {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.imgUrl {
    margin: 0 auto;
    margin-top: 20%;
}




#main-Header {
    height: 10em;
}

.logo-img {
    max-height: 10em;
}
