h3 {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logo-img {
    max-height: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    padding-left: 5em;
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-bar-container {
    height: 50vh;
}

.nav {
    height: 50vh;
}

.button {
    padding: 1em;
    padding-left: 10em;
}


}
