h3 {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gilda Display', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logo-img {
    max-height: 100%;
}

.dropdown-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 10%;
}

#dropdown1 {
    display: flex;
    justify-content: space-between;
}

.nav-bar-container {
    height: 20vh;
}
